@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.mv-component{
    margin: 10px;
    /* border: 1px solid red; */
    overflow: hidden;
}
.mv-main{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #050529;
}
.mv-header{
    height: 60px;
    /* border: 1px solid wheat; */
    position: relative;
    background-color: #0c0c5a;
}
.mv-logo{
    color: #fff;
    position: absolute;
    top: 1px;
    left: 35px;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    text-shadow: 0px 0px 5px rgb(166, 160, 250);
    cursor: pointer;
}
.mv-header input{
    /* border: 1px solid red; */
    position: absolute;
    height: 30px;
    right: 30px;
    top: 15px;
    border-radius: 5px;
    background-color:transparent;
    border: 1px solid rgb(122, 122, 122);
    outline: none;
    color: white;
    padding: 10px;
}